// Color system
$white: #f4f4f5 !default;
$black: #000 !default;
$main-background: #09357b;
$yellow: #ffc107 !default;
$red: #d32f2f !default;
$blue: #2196f3 !default;
$green: #388e3c !default;
$font-size-initial: 14px;
