@import '../../styles/app';

.root {
  // min-height: 100vh;
  height: 100%;
  position: relative;
  left: 0;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  background-color: $white;
}



.footer {
  padding: 8rem 0;
  width: 100%;
}